# ルートの .env

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_SSL=

# Client
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

GA_ID=

# Server
DATABASE_URL=
COOKIE_DOMAIN=

NODE_ENV=

NEXTAUTH_SECRET=
JWT_SECRET=

CLIENT_URL=
CLIENT_URL_PROD=
CLIENT_URL_DEV=

PORT=