.newItemButton {
    display: block;
    width: 250px;
    height: 40px;
    margin: 2rem auto;
    font-size: 15px;
    font-weight: 600;
    color: var(--light-background);
    background: var(--theme);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.newItemButton:hover {
    box-shadow: none;
    opacity: .8;
}

.draftListButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: var(--theme);
    background: var(--light-background);
    border: 2px solid var(--theme);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.draftListButton:hover {
    box-shadow: none;
    opacity: .8;
}

.subtitle {
    font-size: 18px;
    margin: 2rem auto 1rem;
    text-align: center;
}

.imageInputDiv {
    margin: 1rem auto;
    width: max-content;
    max-width: 100%;
}

.imageInput {
    border: solid 1px var(--gray-line-mid);
    border-radius: 10px;
    cursor: pointer;
}

.preview {
    margin: 0.5rem auto;
    width: 120px;
    height: 120px;
}

.centerSmall {
    font-size: 12px;
    text-align: center;
}