.unreadCountSection {
    margin: 1rem 0 0.5rem auto;
    width: max-content;
}

.unreadCountText {
    text-align: right;
    font-size: 12px;
    color: var(--text-muted);
}

.countSpan {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-75);
    padding: 0.25rem;
}

.notificationListSection {
    width: 100%;
    max-width: 768px;
    margin: 1rem auto 5rem;
}

.notificationSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    width: 100%;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    touch-action: manipulation;
}

.messageImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.message {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.date {
    font-size: 11px;
    color: var(--text-muted);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 85vh;
    z-index: 1000;
    background: var(--background);
    padding: 0.5rem;

    border-radius: 20px 20px 0 0;

    overflow-y: auto;

    animation: slideUp 0.2s ease;
}

.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.45);
}

.handle {
    width: 40px;
    height: 4px;

    background-color: var(--gray-15);
    border-radius: 999px;
    margin: 10px auto;

    cursor: pointer;
}

.sheetFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0.25rem 5rem;
}

.sheetTextBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.sheetMessage {
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.02em;
}

.sheetDate {
    font-size: 12px;
    color: var(--text-muted);
    line-height: 1.4;
    letter-spacing: 0.02em;
}
