.followButton {
    width: 90px;
    height: 30px;
    font-size: 11px;
    font-weight: 600;
    border: solid 2px var(--theme);
    border-radius: 20px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.followButton:hover {
    box-shadow: none;
    opacity: .8;
}

.false {
    background-color: var(--theme);
    color: #fff;
}

.true {
    background-color: #fff;
    color: var(--theme);
}

@media (min-width: 768px) {
    .followButton {
        width: 110px;
        height: 34px;
        font-size: 13px;
    }
}