.header {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--gray-line-mid);
    box-shadow: var(--shadow-mini);
    margin-bottom: 0.75rem;
}

.buttonFlex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
}

.headerButton {
    flex: 1;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    color: var(--theme);
    cursor: pointer;
}

.active.headerButton {
    color: var(--theme-str);
    border-bottom: 2px solid var(--theme);
}