.footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--gray-line-mid-str);
    padding: 0 6px 12px;
    background-color: var(--gray-background);
    box-shadow: var(--shadow-mini-top);
    z-index: 1000;
}

.linkDiv {
    flex: 1;
    max-width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.linkIcon {
    width: 25px;
    height: 25px;
    padding: 7px 5px 3px;
    color: var(--theme-sub);
    transition: color 0.15s ease, transform 0.15s ease;
}
.linkIcon:hover {
    color: var(--theme-sub-hover);
    transform: scale(1.05);
}

.linkP {
    font-size: 10px;
    line-height: 1;
}

.uploadIcon {
    width: 40px;
    height: 40px;
    padding: 5px;
    color: var(--theme-sub);
}
.uploadIcon:hover {
    color: var(--theme-sub-hover);
}

.notifDiv {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.unreadIcon {
    position: absolute;
    top: 4px;
    right: 0;
}

@media (min-width: 768px) {
    .footer {
        display: none;
    }
}