.open, .close {
    margin: 0px auto;
    border: solid 3px rgba(54, 134, 6, 0.6);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    transition: height 0.3s ease;
    height: auto;
}

.heading button {
    font-size: var(--small-heading2);
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.icon {
    color: var(--gray-25);
    font-size: 1.1em;
    transition: transform 0.5s;
}

.open .icon {
    transform: rotate(180deg);
}

.text {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
}

.textInner {
    padding: 0 1rem 1rem;
    font-size: 0.92em;
}