.editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 200px;
    height: 40px;
    border: solid 3px var(--theme);
    border-radius: 20px;
    background-color: #f5f5f5;
    font-size: 15px;
    font-weight: 600;
    color: var(--theme);
    box-shadow: var(--shadow);
    cursor: pointer;
}
.editButton:hover {
    box-shadow: none;
    opacity: .8;
}