.buttonNav {
    width: 100%;
    max-width: 350px;
    margin: 2rem auto 3rem;
    display: flex;
    justify-content: space-between;
}

.backButton {
    width: 140px;
    height: 36px;
    font-size: 15px;
    font-weight: 600;
    color: var(--theme);
    background-color: #f5f5f5;
    border: solid 2px var(--theme);
    border-radius: 10px;
    cursor: pointer;
}

.nextButton {
    width: 140px;
    height: 36px;
    font-size: 15px;
    font-weight: 600;
    color: #f5f5f5;
    background-color: var(--theme);
    border-radius: 10px;
    cursor: pointer;
}

.text14 {
    font-size: 14px;
}

.subtitle {
    font-size: 18px;
    margin: 2rem auto 1rem;
    text-align: center;
}

.radioFlex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    width: max-content;
}

.radioColumn {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.radio {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 14px;
    cursor: pointer;
}

.linkText {
    font-size: var(--mid-text);
    text-align: center;
}

.link {
    color: var(--accent);
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin: 1rem;
    font-size: var(--mid-text);
    cursor: pointer;
}

.inputDiv {
    margin: 1rem auto;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: solid 1px var(--gray-line);
    border-radius: 5px;
    background-color: #f5f5f5;
}

.nameFlex {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2.5vw, 2rem);
    width: 100%;
    max-width: 768px;
    margin: 0.5rem auto;
}

.inputFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.select {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: solid 1px var(--gray-line);
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.imageInputDiv {
    margin: 1rem auto;
    width: max-content;
}

.imageInput {
    border: solid 1px var(--gray-line);
    border-radius: 10px;
    cursor: pointer;
}

.preview {
    margin: 0.5rem auto;
    width: 120px;
    height: 120px;
}

.centerSmall {
    font-size: 12px;
    text-align: center;
}

.permitSection {
    margin-top: 1rem;
}

.permitListDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0 auto;
}

.permmitPreviewItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.permitPreview {
    border-radius: 10px;
}

.permitRemoveIcon {
    font-size: 18px;
    color: var(--theme);
    cursor: pointer;
}