.titleFlex {
    display: flex;
}

.title {
    font-size: 13px;
}

.hissuMark {
    font-size: 13px;
    color: var(--alert);
}

.inputDiv {
    margin: 1rem auto;
    width: 100%;
    max-width: 500px;
}

.inputStr {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: solid 1px var(--gray-line-mid);
    border-radius: 5px;
    background-color: var(--light-background);
}

.textarea {
    field-sizing: content;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border: solid 1px var(--gray-line-mid);
    border-radius: 5px;
    background-color: var(--light-background);
}

.button {
    display: block;
    margin: 2rem auto 3rem;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: var(--theme);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.button:hover {
    box-shadow: none;
    opacity: .8;
}

.small {
    display: block;
    font-size: 12px;
    margin: 0.25rem auto 0;
}