.sectionBox {
    max-width: 768px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.sectionTitle {
    font-size: var(--heading2);
    letter-spacing: 0.02em;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--gray-line);
}

.miniSectionBox {
    margin-top: 2rem;
}

.miniSectionTitle {
    font-size: var(--small-heading);
    color: var(--gray-75);
}

.kakkoTitle {
    font-size: var(--mid-text);
    line-height: 1.3;
    font-weight: 600;
    margin-top: 1rem;
}

.termsP,
.miniSectionBox p {
    font-size: var(--caption);
}

.listDiv {
    margin-top: 0.75rem;
    margin-left: 1.25rem;
}

.listParent {
    display: flex;
    gap: 0.5rem;
}

.listParent p {
    font-size: var(--caption);
    line-height: 1.6;
    margin-top: 0;
}

.date {
    display: block;
    font-size: var(--caption);
    text-align: right;
    margin-top: 1rem;
}