.confirmWrapper {
    width: max-content;
    max-width: 100%;
    margin: 2rem auto;
}

.confirmSection {
    margin-top: 1rem;
}

.title {
    font-size: var(--mid-text);
    font-weight: 600;
    color: var(--gray-50);
}

.contentFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.content {
    font-size: var(--mid-text);
    flex: 1;
}

.editButton {
    font-size: 13px;
    font-weight: 500;
    color: var(--theme);
    cursor: pointer;
}

.inputFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem auto 1rem;
    width: 100%;
}

.input {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: solid 1px var(--gray-line-mid);
    border-radius: 5px;
    background-color: var(--light-background);
}

.inputButton {
    width: 70px;
    height: 22px;
    font-size: 13px;
    font-weight: 600;
    color: var(--theme);
    border: solid 2px var(--theme);
    border-radius: 5px;
    background-color: var(--light-background);
    cursor: pointer;
}

.text14 {
    font-size: 14px;
}

.radioColumn {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.radioItem {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 14px;
    cursor: pointer;
}