.small {
    font-size: 12px;
}

.semiTitle {
    font-size: var(--mid-text);
    font-weight: 500;
    color: var(--text-muted);
    letter-spacing: 0.08em;
    margin-bottom: 0.25rem;
}

.summaryDiv {
    margin: 0.5rem 0;
}

.summary {
    font-size: var(--mid-text);
    color: var(--gray-75);
    line-height: 1.65;
    max-width: 560px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5rem;
}
.clamp {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
.moreButton {
    font-size: 13px;
    color: var(--link);
    letter-spacing: 0.02em;
    margin: 0.25rem 0 0 0.5rem;
    cursor: pointer;
}

.reportLink {
    display: flex;
    width: max-content;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}
.reportIcon {
    width: 18px;
    height: 18px;
    color: var(--theme);
    padding: 4px;
}

.itemListText {
    font-size: var(--heading3);
    font-weight: 700;
    text-align: center;
    margin: 1rem auto 0.25rem;
}

.uriageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: var(--theme);
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin: 1rem auto;
}
.uriageButton:hover {
    box-shadow: none;
    opacity: .8;
}

@media (min-width: 768px) {
    .main2column {
        display: flex;
        gap: 24px;
    }

    .main2column > * {
        min-width: 0;
    }

    .main2column > *:first-child {
        flex: 6;
    }

    .main2column > *:last-child {
        flex: 4;
    }
}